/* .main{
    padding-top: 9vh;
    background-color: white;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.App{
    min-height: 100vh;
    margin: 0;
    width: 100vw;
    padding: 0;
} */